*{
	padding: 0px;
	margin: 0px;
}

html{
	background-color:;
}

body{
	width: 1000px;
	height: 1000px;
	background-color:pink;
	margin: auto;
}
header{
	width: 1000px;
	height: 200px;
	background-color: royalblue;
}
nav{
	width: 1000px;
	height: 50px;
	background-color: darkred;
}
main{
	width: 1000px;
	height: 700px;
	
}
article{
	height: 700px;
	width: 800px;
	background-color:pink;
	float: left;
}
aside{
	height: 700px;
	width: 200px;
	background-color:darkred;
	float: left;
}
footer{
	height:50px;
	width:1000px;
	background-color: darkred;
}

/*MENU DE NAVEGACION*/

nav a
{
	text-decoration: none;
	color: inherit;
	font-family: magneto;
	font-size: 15pt;
}

nav li
{
	display: inline-block;
	padding: 15px 7px;
	color: #fff;
	box-shadow: 0 0 20px #fff;
}

nav li:hover
{
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 50px #000;
	transition: 2s;
}

nav ul
{
	text-align: center;
}

/*REDES SOCIALES*/

.redessociales ul{
	list-style: none;
	text-align: center;
}

.redessociales ul li img{
	width: 40px;
}

.redessociales ul li{
	box-shadow: 0 0 20px #ffffff;
}

.redessociales ul li:hover{
	box-shadow: 0 0 30px #000000;
	transition: 2s;
}